:root {
  --title-font: "Pacifico";
  --content-font: "Quicksand";
  --menu-bg-color: #60A692 ;
  --primary-color: #591414;
  --secondary-color:#60A692;
  --card-color: #80B8A8;
}
.hero {
  margin-top: 120px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.hero__text {
  padding: 0 30px;
  width: 580px;
}
.hero__text p {
  margin-bottom: 28px;
}
.onboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 790px;
  height: 390px;
}
.onboard__text {
  background-color: var(--card-color);
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 20px var(--card-color);
  padding: 45px 65px 45px 30px;
}
.onboard__content{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.onboard__content p {
  display: flex;
  align-items: center;
  gap: 20px;
}
.onboard__content p img {
  width: 60px;
}

.vitrine{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0;
  text-align: center;
}
.vitrine__cards {
  display: flex;
  margin: 0 360px;
  gap: 30px;
  text-align: left;
}
.vitrine * a:hover {
  color: #fff;
}
.card {
  display: flex;
  flex-direction: column;
}
.card__img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--card-color);
}
.card__img img {
  width: 100%;
}
.card__info {
  background-color: var(--card-color);
  padding: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 20px var(--card-color);
}
.card__info p {
  font-size: 16px;
  margin-bottom: 20px;
}
.card__info a{
  font-size: 24px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__info a img {
  width: 32px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 120px 0;
}
.testimonials__cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: left;
}
.testimonials__cards p {
  margin-top: 34px;
  padding-right: 50px;
}
.testimonials_card_text_content {
  width: 585px;
  max-height: 380px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 550px;
  margin-bottom: 120px;
}
.contact__container {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-left: 150px;
  gap: 30px;
}
.contact__content_social {
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 50px;
  padding: 25px;
}
#insta, #wpp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.divisor {
  border-left: 3px solid var(--card-color);
  height: 100%;
}
.contact__content_franch {
  max-width: 500px;
  text-align: left;
  padding: 25px;
}
.contact__content_franch p {
  margin-bottom: 50px;
}