@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');

:root {
  --title-font: "Pacifico";
  --content-font: "Quicksand";
  --menu-bg-color: #60A692 ;
  --primary-color: #591414;
  --secondary-color:#60A692;
  --card-color: #80B8A8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  font-family: var(--content-font);
  color: var(--primary-color);
  font-size: 36px;
}
h1 {
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 70px;
}
h2 {
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 58px;
  margin-bottom: 10px;
}
h3 {
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 44px;
}
 p {
  font-size: 24px;
  font-family: var(--content-font);
  color: var(--primary-color);
}

body{
  background-image: url('./imgsrc/body.png');
  background-position: center;
  background-size: contain;
}

header {
  background-color: var(--menu-bg-color);
  color: #fff;
  font-family: var(--content-font);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 22px;
}
ul {
  list-style: none;
  display: flex;
  gap: 33px;
}
a {
  text-decoration: none;
  color: #fff;
}
li:hover {
  border-bottom: 1px solid #fff;
}

.hero {
  margin-top: 120px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.hero__text {
  padding: 0 30px;
  width: 580px;
}
.hero__text p {
  margin-bottom: 28px;
}

.btn {
  background-color: var(--menu-bg-color);
  padding: 20px 70px;
  border-radius: 8px;
  font-family: var(--content-font);
}
.btn:hover {
  background-color: #4d8575;
}

.onboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 790px;
  height: 390px;

}
.onboard__text {
  background-color: var(--card-color);
  width: 100%;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 15px var(--card-color);
  padding: 45px 65px 55px 30px;
}
.onboard__content{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.onboard__content p {
  display: flex;
  align-items: center;
  gap: 20px;
}
.onboard__content p img {
  width: 60px;
}

.vitrine{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0;
  text-align: center;
}
.vitrine__cards {
  display: flex;
  margin: 0 360px;
  gap: 30px;
  text-align: left;
}
.card {
  display: flex;
  flex-direction: column;
}
.card__img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: var(--card-color);
}
.card__info {
  background-color: var(--card-color);
  padding: 12px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 1px 20px var(--card-color);
}
.card__info p {
  font-size: 16px;
  margin-bottom: 20px;
}
.card__info a{
  font-size: 24px;
  color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__info a img {
  width: 32px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 120px 0;
}
.testimonials__cards {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: left;
}
.testimonials__cards p {
  margin-top: 34px;
  padding-right: 50px;
}
.testimonials_card_text_content {
  width: 585px;
  max-height: 380px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 550px;
  margin-bottom: 120px;
}
.contact > * span {
  font-weight: bold;
  font-size: 28px;
}
.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.contact__content_franch .btn {
  width: 380px;
}
.contact__content_franch {
  border-left: 1px solid var(--menu-bg-color);
  padding: 30px;
}
.contact__content_franch, .contact__content_social {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 50px;
  width: 450px;
}
.contact__content_franch p, .contact__content_social p {
  text-align: left;
  font-size: 22px;
}

.contact__content_social span, .contact__content_franch span{
  margin-bottom: 40px;
  font-weight: bold;
}
.contact__content_social {
  padding: 0 30px 100px 30px;
}
.contact__content_social > div {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer{
  background-color: var(--menu-bg-color);
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-around;
}
.logo__insta_wpp {
  display: flex;
  gap: 70px;
}
.footer__logo {
  width: 200px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.footer__links > div {
  display: flex;
  align-items: center;
  gap: 32px;
}
footer > * p {
  color: #fff;
}
.address #bold {
  font-weight: bold;
}